.header {
  height: 60px;
  margin: 0 auto;
  padding: 5px 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  ul {
    display: flex;

    li {
      list-style: none;
      margin-right: 10px;

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
